	<!-- Begin Navigation -->
{% include '@ele/includes/header.html.twig' %}

	<!-- Begin Large Hero Block -->
<section class="video-background content dark">
		<div id="bgVideo"></div>
		<div class="container">

			<!-- Title -->
			<div class="row">
				<div class="center title col-lg-12">
					<h2 style="visibility:hidden">Our services.</h2>
					<p style="visibility:hidden">A selection of services you can edit to show what you can do.</p>
				</div>
			</div><!-- END -->

			<!-- Phases -->
			<ul class="center-mobile phases row">
				<li class="col-sm-4 clearfix"><h3><i class="icon white target"></i>{{ home_first_title }}</h3><p>{{ home_first_desc }}</p></li>
				<li class="col-sm-4 clearfix"><h3><i class="icon white camera"></i>{{ home_second_title }}</h3><p>{{ home_second_desc }}</p></li>
				<li class="col-sm-4 clearfix"><h3><i class="icon white browser"></i>{{ home_third_title }}</h3><p>{{ home_third_desc }}</p></li>
			</ul>

			<!-- Button -->
			<div class="row">
				
			</div><!-- END -->

		</div>
	</section>

	<!-- End Large Hero Block -->

	<!-- Begin Overview Block -->
	<section class="center-mobile content container">
		<div class="row">

			<div class="col-sm-4">
				<h2>{{ home_second_what }}</h2>
				<p>{{ home_second_what_desc }}</p>
			</div>
			<div class="col-sm-4">
				<h2>{{ home_second_who }}</h2>
        <p>{{ home_second_who_desc }}</p>
			</div>
			<div class="col-sm-4">
				<h2>{{ home_second_how }}</h2>
				<p>{{ home_second_how_desc }}</p>
			</div>

		</div>
	</section>
	<!-- End Overview Block -->

	<!-- Begin Video Background Block -->
	<section class="hero accent parallax" style="background-image: url({{ directory }}/images/3a.jpg);">

		<!-- Heading -->
		<div class="hero-content container">
			<p><em>{{ home_third_small_title}}</em></p>
			<h1>{{ home_third_strong_title }}</h1>
		</div><!-- END -->

   {% set works_id = 3 %}
		<!-- Button -->
		<div class="sub-hero container">
			<span class="line"></span>
			<a href="{{ path('entity.node.canonical', {'node': works_id}) }}" class="button white">{{ 'Learn More'|t }}</a>
		</div><!-- END -->

	</section>
	<!-- End Video Background Block -->

	<!-- Begin Feature Block -->

<section class="feature-box light absolute clearfix">
		
		<div class="content container center-mobile">

			<!-- Title -->
     {{ featured_node_desc | raw }}
			<!-- END-->

			<!-- Button -->
			<div class="row">
				<div class="feature col-sm-6 col-sm-offset-6">
					<a href="{{ featured_node_alias }}" class="button gray">{{ 'Learn More'|t }}</a>
				</div>
			</div><!-- END -->
		
		</div>

		<div class="image-absolute"  style="background-image: url({{ featured_side_image }})"></div>
	</section>


	<!-- End Feature Block -->



	<!-- Begin Recent Work  Block -->
	<section class="recent-work content dark parallax" style="background-image: url({{ directory }}/images/latest_work_bg.jpg);">

			<!-- Title and Subtitle -->
			<div class="container">
				<div class="row">
				<div class="col-sm-12 center">
					<h2>{{ home_work_section_title }}</h2>
					<p>{{ home_work_section_desc }}</p>
				</div>
				</div>
			</div><!-- END -->

			<!-- Slider -->
			<div id="recent-gallery" class="royalSlider rsDefault visibleNearby">
			{{ home_project_lists | raw }}	
			</div><!-- END -->

			<!-- Button -->
			<div class="container">
				<div class="center padded col-sm-12">
					<a href="{{ path('entity.node.canonical', {'node': works_id}) }}" class="button white">{{ 'View works'|t }}</a>
				</div>
			</div><!-- END -->

	</section>
	<!-- End Recent Work Block -->

	<!-- Begin Client Logos Block -->
	<section class="clients container">
		<div class="row">
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
			<a href="https://www.drupal.org/" target="_blank"><img src="{{ directory }}/images/partners/drupal-m.png" alt="client"></a>
			</div>
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
			<a href="https://wordpress.org/" target="_blank"><img src="{{ directory }}/images/partners/wordpress-m.png" alt="client"></a>
			</div>
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
			<a href="https://github.com/" target="_blank"><img src="{{ directory }}/images/partners/git-m.png" alt="client"></a>
			</div>
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
			<a href="https://jquery.com/" target="_blank"><img src="{{ directory }}/images/partners/jquery-m.png" alt="client"></a>
			</div>
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
			<a href="http://php.net/" target="_blank"><img src="{{ directory }}/images/partners/php-m.png" alt="client"></a>
			</div>
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
			<a href="https://swift.org/" target="_blank"><img src="{{ directory }}/images/partners/swift-m.png" alt="client"></a>
			</div>
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
			<a href="https://www.ubuntu.com" target="_blank"><img src="{{ directory }}/images/partners/ubuntu-m.png" alt="client"></a>
			</div>
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
			<a href="https://www.python.org/" target="_blank"><img src="{{ directory }}/images/partners/python-m.png" alt="client"></a>
			</div>

		</div>
	</section> 
	<!-- End Client Logos Block -->

	<!-- Begin Call to Action Block -->
	<section class="call-to-action content light">
		<div class="container">

			<!-- Title -->
			<div class="row">
				<div class="title col-lg-12">
					<h2>{{ home_contact_section_title }}</h2>
					<p>{{ home_contact_section_desc }}</p>
				</div>
			</div><!-- END -->

			<!-- Actions -->
			<div class="row">
				<div class="actions padded col-lg-12">
					<a class="button accent-alt" href="/contact-us">{{ 'Contact us'|t }}</a>
					<span class="choice">{{ 'or'|t }}</span>
					<a class="button gray" href="{{ path('view.journal.page_1') }}">{{ 'View Journal'|t }}</a>
				</div>
			</div><!-- END -->
		</div>
	</section>
	<!-- End Call to Action Block -->

{% include '@ele/includes/footer.html.twig' %}
