{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}

<!-- Begin Small Hero Block -->
	<section class="hero small accent parallax" style="background-image: url(/{{ base_path ~ directory }}/images/hero-blog.jpg);">

		<!-- Heading -->
		<div class="hero-content container">
			<h1>  {{ 'Journal'|t }}.</h1>
		</div><!-- END -->

		<!-- Button -->
		<div class="sub-hero container">
			<span class="line"></span>
		</div><!-- END -->

	</section>
	<!-- End Small Hero Block -->

<!-- Begin Blog Block -->
	<section class="content container">
		<div class="row">

			<!-- Begin Posts -->
			<div class="col-sm-8">
      {{ rows }}
      {{ pager }}

    </div><!-- END -->

			<!-- Begin Sidebar -->
			<div class="col-sm-4">
				<div class="sidebar">

					<!-- search widget -->
					<div class="widget clearfix">
						<form action="#" >
							<input name="s" id="s" type="text" class="search" placeholder="Search.." value="" />
							<input type="submit" value="Go" class="search-submit" />
						</form>
					</div><!-- END -->

					<!-- categories widget -->
					<div class="widget">
						<h5>{{ 'CATEGORIES'|t }}</h5>
						<ul>
            {{ page_journal_tax_list|raw }}
						</ul>
					</div><!-- END -->

				    <!-- recent posts widget -->
				    <div class="widget widget-recent-entries">		
				    	<h5>{{ 'Recent Journal'|t }}</h5>		
				    	<ul>
              {{ view_recent_journal|raw }}
						</ul>
					</div><!-- END -->

				</div>
			</div><!-- END -->

		</div>
	</section>
	<!-- End Blog Block -->

