	<!-- Begin Navigation -->
	<nav class="mobile">

		<!-- Search -->
		<div class="search-trigger"></div>
		<div class="search-form disabled">
			<form action="404.html">
				<input name="search" id="search" type="text" class="search" onFocus="if(this.value == 'Search...') { this.value = ''; }" onBlur="if(this.value == '') { this.value = 'Search...'; }" value="Search..." />
			</form>
		</div><!-- END -->

		<!-- Menu -->
		<ul class="nav-content clearfix">
			<li id="magic-line"></li>
			<li class="current-page drop first upper">
				<a class="drop-btn" href="#">Home</a>
				<ul class="drop-list">
					<li><a href="index.html">Standard</a></li>
					<li><a href="home-alternative.html">Alternative</a></li>
					<li><a href="home-portfolio-galore.html">Portfolio Galore</a></li>
				</ul>
			</li>
			<li class="upper"><a href="about.html">About</a></li>
			<li class="drop upper">
				<a class="drop-btn" href="#">Work</a>
				<ul class="drop-list">
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="portfolio-gallery.html">Gallery</a></li>
					<li><a href="single-project.html">Single Project</a></li>
				</ul>
			</li>
			<li class="upper"><a href="blog.html">Journal</a></li>
			<li class="upper"><a href="contact.html">Contact</a></li>
			<li class="upper"><a href="http://www.weidea.net">More theme</a></li>
		</ul><!-- END -->

	</nav>
	<header class="mobile">

		<!-- Logo -->
		<a href="index.html"><img class="logo" src="{{ directory }}/images/logo.png" alt="Form Logo" width="96" height="35" /></a>

		<!-- Menu Button -->
		<button type="button" class="nav-button">
		  <div class="button-bars"></div>
	    </button><!-- END -->

	</header>

	<div class="sticky-head"></div>
	<!-- End Navigation -->

	<!-- Begin Large Hero Block -->
	<section class="hero accent parallax" style="background-image: url({{ directory }}/images/3a.jpg);">

		<!-- Heading -->
		<div class="hero-content container">
			<p><em>The power of your brand - back in your hands.</em></p>
			<h1>Show off your work. The right way.</h1>
		</div><!-- END -->

		<!-- Button -->
		<div class="sub-hero container">
			<span class="line"></span>
			<a href="about.html" class="button white">Learn More</a>
		</div><!-- END -->

	</section>
	<!-- End Large Hero Block -->

	<!-- Begin Overview Block -->
	<section class="center-mobile content container">
		<div class="row">

			<div class="col-sm-4">
				<h2>What.</h2>
				<p>Say hello to Form - a new revolution in template design and usability. The power of your brand - back in your hands not your designer.</p>
			</div>
			<div class="col-sm-4">
				<h2>Who.</h2>
				<p>This template is a perfect fit for both beginners and experts at web design. It is built around pure simplicity and features amazing innovations.</p>
			</div>
			<div class="col-sm-4">
				<h2>How.</h2>
				<p>With a new approach to building templates - gone are the days of wondering what to edit. You have the power to build yourself!</p>
			</div>

		</div>
	</section>
	<!-- End Overview Block -->

	<!-- Begin Video Background Block -->
	<section class="video-background content dark">
		<div id="bgVideo"></div>
		<div class="container">

			<!-- Title -->
			<div class="row">
				<div class="center title col-lg-12">
					<h2>Our services.</h2>
					<p>A selection of services you can edit to show what you can do.</p>
				</div>
			</div><!-- END -->

			<!-- Phases -->
			<ul class="center-mobile phases row">
				<li class="col-sm-4 clearfix"><h3><i class="icon white target"></i>Branding.</h3><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p></li>
				<li class="col-sm-4 clearfix"><h3><i class="icon white camera"></i>Photography.</h3><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium molestias.</p></li>
				<li class="col-sm-4 clearfix"><h3><i class="icon white browser"></i>Web design.</h3><p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p></li>
			</ul>

			<!-- Button -->
			<div class="row">
				<div class="center padded col-lg-12">
					<a href="about.html" class="button white">Learn more</a>
				</div>
			</div><!-- END -->

		</div>
	</section>
	<!-- End Video Background Block -->

	<!-- Begin Feature Block -->

<section class="feature-box light absolute clearfix">
		
		<div class="content container center-mobile">

			<!-- Title -->
			<div class="row">
				<div class="title col-sm-6 col-sm-push-6">
					<h2>Our services.</h2>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium dolores et quas molestias. Sed ut perspiciatis unde omnis iste natus error.</p>
				</div>
			</div><!-- END-->

			<!-- Features -->
			<div class="row">
				<div class="feature col-sm-6 col-sm-push-6 clearfix">
					<i class="icon gray target"></i><h3>Branding.</h3>
					<p class="small">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium molestias.</p>
				</div>
			</div><!-- END -->

			<!-- Features -->
			<div class="row">
				<div class="feature col-sm-6 col-sm-push-6 clearfix">
					<i class="icon gray monitor"></i><h3>Graphic design.</h3>
					<p class="small">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium lorem ipsum.</p>
				</div>
			</div><!-- END -->

			<!-- Features -->
			<div class="row">
				<div class="feature col-sm-6 col-sm-push-6 clearfix">
					<i class="icon gray browser"></i><h3>Web design.</h3>
					<p class="small">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium molestias.</p>
				</div>
			</div><!-- END -->

			<!-- Button -->
			<div class="row">
				<div class="feature col-sm-6 col-sm-offset-6">
					<a href="about.html" class="button gray">Learn More</a>
				</div>
			</div><!-- END -->
		
		</div>

		<div class="image-absolute"></div>
	</section>


	<!-- End Feature Block -->



	<!-- Begin Recent Work  Block -->
	<section class="recent-work content dark parallax" style="background-image: url({{ directory }}/images/ipad-hands.jpg);">

			<!-- Title and Subtitle -->
			<div class="container">
				<div class="row">
				<div class="col-sm-12 center">
					<h2>Our recent work.</h2>
					<p>A selection of hand-picked portfolio items. Super-easy to include or remove from your designs.</p>
				</div>
				</div>
			</div><!-- END -->

			<!-- Slider -->
			<div id="recent-gallery" class="royalSlider rsDefault visibleNearby">
				<a class="rsImg" href="{{ directory }}/images/work/1.jpg" data-rsw="566" data-rsh="375"></a>
				<a class="rsImg" href="{{ directory }}/images/work/2.jpg" data-rsw="566" data-rsh="375"></a>
				<a class="rsImg" href="{{ directory }}/images/work/3.jpg" data-rsw="566" data-rsh="375"></a>
				<a class="rsImg" href="{{ directory }}/images/work/4.jpg" data-rsw="566" data-rsh="375"></a>
				<a class="rsImg" href="{{ directory }}/images/work/5.jpg" data-rsw="566" data-rsh="375"></a>
				<a class="rsImg" href="{{ directory }}/images/work/6.jpg" data-rsw="566" data-rsh="375"></a>
			</div><!-- END -->



			<!-- Button -->
			<div class="container">
				<div class="center padded col-sm-12">
					<a href="portfolio.html" class="button white">View work</a>
				</div>
			</div><!-- END -->

	</section>
	<!-- End Recent Work Block -->

	<!-- Begin Client Logos Block -->
	<section class="clients container">
		<div class="row">
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
				<img src="{{ directory }}/images/logos/1.jpg" alt="client">
			</div>
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
				<img src="{{ directory }}/images/logos/2.jpg" alt="client">
			</div>
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
				<img src="{{ directory }}/images/logos/3.jpg" alt="client">
			</div>
			<div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
				<img src="{{ directory }}/images/logos/4.jpg" alt="client">
			</div>
		</div>
	</section>
	<!-- End Client Logos Block -->

	<!-- Begin Call to Action Block -->
	<section class="call-to-action content light">
		<div class="container">

			<!-- Title -->
			<div class="row">
				<div class="title col-lg-12">
					<h2>Are you impressed?</h2>
					<p>If so, why don’t you get in touch with us so we can talk about your projects.</p>
				</div>
			</div><!-- END -->

			<!-- Actions -->
			<div class="row">
				<div class="actions padded col-lg-12">
					<a class="button accent-alt" href="#">Contact us</a>
					<span class="choice">or</span>
					<a class="button gray" href="#">View Blog</a>
				</div>
			</div><!-- END -->
		</div>
	</section>
	<!-- End Call to Action Block -->

	<!-- Begin Footer -->
	<footer>
		<div class="container">
			<div class="row">

				<!-- Contact List -->
				<ul class="contact-list col-md-8">
					<li><i class="fa fa-envelope-o"></i><a href="mailto:hello@form.com">hello@form.com</a></li>
					<li><i class="fa fa-phone"></i><a href="#">+ 714-555-1212</a></li>
					<li><i class="fa fa-map-marker"></i><a href="#">1000 Coney Island Ave. NY 11230</a></li>
				</ul><!-- END -->

				<!-- Social List -->
				<ul class="social-list col-md-4">
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					<li class="copyright">© 2014 Form, LLC</li>
				</ul><!-- END -->

			</div>
		</div>
	</footer>
	<!-- End Footer -->
